<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task detail</title>
</head>
<body>

<div th:insert="fragments/nav.html :: #nav"></div>

<h1>Task detail</h1>

<div th:if="${taskNotFound}"><span th:text="${taskNotFound}"></span></div>
<div th:unless="${taskNotFound}">
    <div>
        <p><a th:href="@{/tasks/edit/{id}(id=${task.id})}">Edit task</a></p>
    </div>
    <div>
        <label for="title">Title:</label>
        <span id="title" th:text="${task.title}"></span>
    </div>
    <div>
        <label for="description">Description:</label>
        <span id="description" th:text="${task.description}"></span>
    </div>
    <div>
        <label for="dueDate">Due date:</label>
        <span id="dueDate" th:text="${#temporals.format(task.dueDate, 'dd-MM-yyyy HH:mm')}"></span>
    </div>
    <div th:if="${task.subTaskDTOs.isEmpty()}">No subtasks</div>
    <div th:unless="${task.subTaskDTOs.isEmpty()}">
        <label for="subTaskDTOs">Subtasks:</label>
        <table id="subTaskDTOs">
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tr th:each="subTask: ${task.subTaskDTOs}">
                <td th:text="${subTask.title}"></td>
                <td th:text="${subTask.description}"></td>
            </tr>
        </table>
    </div>
    <div>
        <span><a th:href="@{/tasks/{id}/sub/create(id=${task.id})}">Add a subtask</a></span>
    </div>
</div>

</body>
</html>
