<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title th:text="#{overview}"></title>
</head>
<body>

<div th:insert="fragments/nav.html :: #nav"></div>

<h1 th:text="#{tasks}"></h1>

<p th:if="${tasks.isEmpty()}" th:text="#{noTasks}"></p>
<table th:unless="${tasks.isEmpty()}">
    <tr>
        <th th:text="#{titleHeader}"></th>
        <th th:text="#{dueDateHeader}"></th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a></td>
        <td th:text="${#temporals.format(task.dueDate, 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
</table>

<script src="/js/locale.js"></script>

</body>
</html>
