<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title th:text="#{taskDetail}"></title>
</head>
<body>

<div th:insert="fragments/nav.html :: #nav"></div>

<h1 th:text="#{taskDetail}"></h1>

<div th:if="${taskNotFound}"><span th:text="#{taskNotFound}"></span></div>
<div th:unless="${taskNotFound}">
    <div>
        <p><a th:href="@{/tasks/edit/{id}(id=${task.id})}" th:text="#{editTask}"></a></p>
    </div>
    <div>
        <label for="title" th:text="#{title}"></label>
        <span id="title" th:text="${task.title}"></span>
    </div>
    <div>
        <label for="description" th:text="#{description}"></label>
        <span id="description" th:text="${task.description}"></span>
    </div>
    <div>
        <label for="dueDate" th:text="#{dueDate}"></label>
        <span id="dueDate" th:text="${#temporals.format(task.dueDate, 'dd-MM-yyyy HH:mm')}"></span>
    </div>
    <div th:if="${task.subTaskDTOs.isEmpty()}" th:text="#{noSubTasks}"></div>
    <div th:unless="${task.subTaskDTOs.isEmpty()}">
        <label for="subTaskDTOs" th:text="#{subTasks}"></label>
        <table id="subTaskDTOs">
            <tr>
                <th th:text="#{titleHeader}"></th>
                <th th:text="#{descriptionHeader}"></th>
            </tr>
            <tr th:each="subTask: ${task.subTaskDTOs}">
                <td th:text="${subTask.title}"></td>
                <td th:text="${subTask.description}"></td>
            </tr>
        </table>
    </div>
    <div>
        <span><a th:href="@{/tasks/{id}/sub/create(id=${task.id})}" th:text="#{addSubTask}"></a></span>
    </div>
</div>

<script src="/js/locale.js"></script>

</body>
</html>
